# Utilización de la librería Pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../../data/Cap 8/base_datos_2008.csv", nrows = 100000)

Year - year of the flight (stored as factor).
Month - month of the flight (stored as factor).
DayOfMonth - day of the month (1 to 31) (stored as integer).
DayOfWeek - day of the week (stored as factor).
DepTime - actual departure time (stored as float).
CRSDepTime - scheduled departure time (stored as float).
ArrTime - actual arrival time (stored as float).
CRSArrTime - scheduled arrival time (stored as float).
UniqueCarrier - carrier ID (stored as factor).
FlightNum - flight number (stored as factor).
TailNum - plane's tail number (stored as factor).
ActualElapsedTime - actual elapsed time of the flight, in minutes (stored as integer).
CRSElapsedTime - scheduled elapsed time of the flight, in minutes (stored as integer).
AirTime - airborne time for the flight, in minutes (stored as integer).
ArrDelay - arrival delay, in minutes (stored as integer).
DepDelay - departure delay, in minutes (stored as integer).
Origin - originating airport (stored as factor).
Dest - destination airport (stored as factor).
Distance - flight distance (stored as integer).
TaxiIn - taxi time from wheels down to arrival at the gate, in minutes (stored as integer).
TaxiOut - taxi time from departure from the gate to wheels up, in minutes (stored as integer).
Cancelled - cancellation status (stored as logical).
CancellationCode - cancellation code, if applicable (stored as factor).
Diverted - diversion status (stored as logical).
CarrierDelay - delay, in minutes, attributable to the carrier (stored integer).
WeatherDelay - delay, in minutes, attributable to weather factors (stored as integer).
NASDelay - delay, in minutes, attributable to the National Aviation System (stored as integer).
SecurityDelay - delay, in minutes, attributable to security factors (stored as integer).
LateAircraftDelay - delay, in minutes, attributable to late-arriving aircraft (stored as integer).

Año - año del vuelo (almacenado como factor).
Mes - mes del vuelo (almacenado como factor).
Día del mes - día del mes (1 a 31) (almacenado como un número entero).
DayOfWeek - día de la semana (almacenado como factor).
DepTime - hora real de salida (almacenado como flotador).
CRSDepTime - hora de salida programada (almacenada como flotación).
ArrTime - hora real de llegada (almacenada como flotación).
CRSArrTime - hora programada de llegada (almacenada como flotación).
UniqueCarrier - identificación del transportista (almacenada como factor).
FlightNum - número de vuelo (almacenado como factor).
TailNum - número de cola del avión (almacenado como factor).
ActualElapsedTime - tiempo real transcurrido del vuelo, en minutos (almacenado como entero).
CRSElapsedTime - tiempo programado que ha transcurrido durante el vuelo, en minutos (almacenado como un número entero).
AirTime - tiempo de vuelo en el aire, en minutos (almacenado como entero).
ArrDelay - retraso en la llegada, en minutos (almacenado como entero).
DepDelay - retraso de salida, en minutos (almacenado como entero).
Origin - aeropuerto de origen (almacenado como un factor).
Destino - aeropuerto de destino (almacenado como factor).
Distance - distancia del vuelo (almacenada como un entero).
TaxiIn - tiempo desde el aterrizaje hasta la llegada a la puerta de embarque, en minutos (almacenado como entero).
TaxiOut - tiempo desde la salida de la puerta de embarque hasta el inicio del vuelo, en minutos (almacenado como entero).
Cancelled - estado de la cancelación (almacenado como un número entero).
CancellationCode - código de cancelación, si es aplicable (almacenado como un factor).
Diverted - estado de desvío (almacenado como lógico).
CarrierDelay - retraso, en minutos, atribuible al portador (almacenado como entero).
WeatherDelay - retraso, en minutos, atribuible a factores meteorológicos (almacenado como entero).
NASDelay - retraso, en minutos, atribuible al Sistema Nacional de Aviación (almacenado como entero).
SecurityDelay - retraso, en minutos, atribuible a factores de seguridad (almacenado como entero).
LateAircraftDelay - retraso, en minutos, atribuible a la llegada tardía de un avión (almacenado como entero).

In [4]:
# Con head() se muestran las 5 primeras filas de nuestros dataframe.
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [5]:
# Si queremos ver más filas, podemos hacer 
df.head(50)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,1426.0,1430,1426.0,1425,WN,829,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,715.0,715,720.0,710,WN,1016,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2008,1,3,4,1702.0,1700,1651.0,1655,WN,1827,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
17,2008,1,3,4,754.0,745,940.0,955,WN,1144,...,5.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
19,2008,1,3,4,1416.0,1325,1512.0,1435,WN,54,...,2.0,5.0,0,NaN,0,12.0,0.0,0.0,0.0,25.0
20,2008,1,3,4,706.0,705,807.0,810,WN,68,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
21,2008,1,3,4,1657.0,1625,1754.0,1735,WN,623,...,5.0,5.0,0,NaN,0,7.0,0.0,0.0,0.0,12.0
22,2008,1,3,4,1900.0,1840,1956.0,1950,WN,717,...,2.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
23,2008,1,3,4,1039.0,1030,1133.0,1140,WN,1244,...,2.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
24,2008,1,3,4,801.0,800,902.0,910,WN,2101,...,3.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
25,2008,1,3,4,1520.0,1455,1619.0,1605,WN,2553,...,2.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
26,2008,1,3,4,1422.0,1255,1657.0,1610,WN,188,...,6.0,6.0,0,NaN,0,40.0,0.0,0.0,0.0,7.0
27,2008,1,3,4,1954.0,1925,2239.0,2235,WN,1754,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
28,2008,1,3,4,636.0,635,921.0,945,WN,2275,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
29,2008,1,3,4,734.0,730,958.0,1020,WN,550,...,2.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
31,2008,1,3,4,1008.0,1005,1234.0,1255,WN,543,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
32,2008,1,3,4,712.0,710,953.0,1000,WN,1112,...,5.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
33,2008,1,3,4,1312.0,1300,1546.0,1550,WN,1397,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
34,2008,1,3,4,1449.0,1430,1715.0,1720,WN,3398,...,6.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
35,2008,1,3,4,1634.0,1555,1859.0,1845,WN,3480,...,5.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
36,2008,1,3,4,831.0,830,935.0,955,WN,300,...,5.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
38,2008,1,3,4,1127.0,1105,1235.0,1230,WN,1837,...,9.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
39,2008,1,3,4,1424.0,1355,1531.0,1520,WN,2871,...,8.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
40,2008,1,3,4,1326.0,1230,1559.0,1530,WN,1056,...,5.0,5.0,0,NaN,0,0.0,0.0,0.0,0.0,29.0
41,2008,1,3,4,1749.0,1725,2019.0,2030,WN,2175,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
42,2008,1,3,4,726.0,720,958.0,1020,WN,3319,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
43,2008,1,3,4,646.0,640,929.0,955,WN,3667,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
44,2008,1,3,4,1153.0,1140,1428.0,1440,WN,2006,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
45,2008,1,3,4,1528.0,1510,1802.0,1810,WN,3858,...,4.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
46,2008,1,3,4,634.0,635,907.0,935,WN,3928,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
47,2008,1,3,4,831.0,830,1148.0,1140,WN,534,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
48,2008,1,3,4,1450.0,1435,1806.0,1745,WN,3244,...,7.0,8.0,0,NaN,0,0.0,0.0,6.0,0.0,15.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0

In [6]:
df.tail()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
# frac = 1 nos permite guardar el 100% de las filas, reordenamos el 100% de la BD.
df = df.sample(frac = 1)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
21295,2008,1,9,3,2130.0,2135,2239.0,2235,WN,1309,...,4.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6673,2008,1,5,6,731.0,735,938.0,1000,WN,3231,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
73058,2008,1,25,5,1253.0,1255,1432.0,1430,WN,1113,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
59678,2008,1,21,1,2042.0,2000,2155.0,2125,WN,3062,...,4.0,10.0,0,NaN,0,3.0,0.0,0.0,0.0,27.0
20565,2008,1,9,3,850.0,845,1014.0,1010,WN,407,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [8]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [9]:
# Escogemos la columna DepTime
df.DepTime

21295    2130.0
6673      731.0
73058    1253.0
59678    2042.0
20565     850.0
          ...
67505    2121.0
66916    1124.0
63008    1307.0
2021      840.0
55549    1628.0
Name: DepTime, Length: 100000, dtype: float64

In [10]:
# Con esta instrucción nos muestra los tipos de variables que tenemos en el dataframe.
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [11]:
# Otra forma de ver los datos en formato array
df.values

array([[2008, 1, 9, ..., nan, nan, nan],
       [2008, 1, 5, ..., nan, nan, nan],
       [2008, 1, 25, ..., nan, nan, nan],
       ...,
       [2008, 1, 22, ..., nan, nan, nan],
       [2008, 1, 3, ..., nan, nan, nan],
       [2008, 1, 20, ..., nan, nan, nan]], dtype=object)

In [12]:
# Podemos definir un segundo dataframe con las primeras 10 filas y lo guardamos en memoria. Nos puede ayudar
# a hacer un procesamiento de parte de los datos.
df2 = df.head(10)

In [13]:
# Nos va a mostrar solo 10 filas... 
df2.head(100)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
21295,2008,1,9,3,2130.0,2135,2239.0,2235,WN,1309,...,4.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6673,2008,1,5,6,731.0,735,938.0,1000,WN,3231,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
73058,2008,1,25,5,1253.0,1255,1432.0,1430,WN,1113,...,3.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
59678,2008,1,21,1,2042.0,2000,2155.0,2125,WN,3062,...,4.0,10.0,0,NaN,0,3.0,0.0,0.0,0.0,27.0
20565,2008,1,9,3,850.0,845,1014.0,1010,WN,407,...,6.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
83440,2008,1,28,1,1532.0,1350,1557.0,1415,WN,3492,...,2.0,18.0,0,NaN,0,0.0,0.0,5.0,0.0,97.0
62678,2008,1,22,2,1756.0,1800,1958.0,2010,WN,1322,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
28503,2008,1,11,5,1136.0,1135,1741.0,1745,WN,959,...,14.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
45106,2008,1,16,3,1637.0,1640,1855.0,1910,WN,1172,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
77068,2008,1,26,6,1642.0,1645,1924.0,1935,WN,65,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

# Filtrado

In [14]:
# Obtención de información relevante de nuestras filas y columnas de BD
df = pd.read_csv("base_datos_2008.csv")

In [15]:
# Filtrado entendemos la información relevante de nuestra BD. 
# Si queremos obtener los 5 primeros valores de la columna ArrDelay
df["ArrDelay"].head()

0   -14.0
1     2.0
2    14.0
3    -6.0
4    34.0
Name: ArrDelay, dtype: float64

In [16]:
# Podemos usar el intervalo de filas que queramos.
df[0:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [17]:
df[100:1000]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100,2008,1,3,4,826.0,825,930.0,925,WN,136,...,2.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
101,2008,1,3,4,2118.0,2015,2224.0,2115,WN,219,...,3.0,17.0,0,NaN,0,17.0,0.0,6.0,0.0,46.0
102,2008,1,3,4,1818.0,1740,1916.0,1840,WN,391,...,2.0,10.0,0,NaN,0,20.0,0.0,0.0,0.0,16.0
103,2008,1,3,4,650.0,650,748.0,750,WN,670,...,3.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104,2008,1,3,4,2146.0,2055,2250.0,2155,WN,815,...,3.0,13.0,0,NaN,0,4.0,0.0,4.0,0.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2008,1,3,4,2154.0,2040,2314.0,2205,WN,428,...,4.0,13.0,0,NaN,0,2.0,0.0,0.0,0.0,67.0
996,2008,1,3,4,1322.0,1245,1444.0,1410,WN,500,...,3.0,15.0,0,NaN,0,34.0,0.0,0.0,0.0,0.0
997,2008,1,3,4,701.0,700,823.0,825,WN,565,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
998,2008,1,3,4,1012.0,1010,1136.0,1135,WN,752,...,5.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
999,2008,1,3,4,834.0,830,955.0,955,WN,762,...,4.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [19]:
# Todos los vuelos que se hayan retrasado > 60 minutos
df3 = df[df["ArrDelay"] > 60]

In [20]:
df3.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
30,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,NaN,0,5.0,0.0,0.0,0.0,59.0
37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,NaN,0,3.0,0.0,0.0,0.0,69.0
49,2008,1,3,4,2245.0,1730,2354.0,1850,WN,186,...,3.0,7.0,0,NaN,0,282.0,0.0,0.0,0.0,22.0
77,2008,1,3,4,958.0,900,1052.0,950,WN,1574,...,4.0,14.0,0,NaN,0,0.0,0.0,4.0,0.0,58.0

In [21]:
# Todos los vuelos que han salido de ATL (Atlanta)
df[df["Origin"] == "ATL"].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
103149,2008,1,21,1,1207.0,1210,1346.0,1335,XE,2349,...,11.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
103572,2008,1,12,6,1458.0,1500,1622.0,1620,XE,2145,...,6.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,6.0,32.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
104124,2008,1,26,6,1629.0,1630,1832.0,1902,XE,1241,...,9.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
104485,2008,1,4,5,1336.0,1340,1501.0,1500,XE,2112,...,12.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [22]:
# Vamos a filtrar de forma combinada, Origen Atlanta y el retraso > 60 minutos.
# & == AND; | == OR
df[(df["Origin"] == "ATL") & (df["ArrDelay"] > 60)].head(100)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
109189,2008,1,31,4,1217.0,1210,1511.0,1335,XE,2023,...,21.0,60.0,0,NaN,0,0.0,0.0,96.0,0.0,0.0
110375,2008,1,19,6,1241.0,1215,1735.0,1437,XE,1284,...,12.0,178.0,0,NaN,0,0.0,0.0,164.0,0.0,14.0
121229,2008,1,3,4,1421.0,1200,1526.0,1325,XE,2132,...,9.0,13.0,0,NaN,0,17.0,0.0,0.0,0.0,104.0
132768,2008,1,6,7,1315.0,1130,1410.0,1240,YV,7267,...,3.0,6.0,0,NaN,0,0.0,0.0,90.0,0.0,0.0
133549,2008,1,7,1,2040.0,1800,2156.0,1932,YV,2626,...,12.0,28.0,0,NaN,0,144.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180960,2008,1,8,2,2129.0,2000,2209.0,2025,OO,3928,...,3.0,37.0,0,NaN,0,104.0,0.0,0.0,0.0,0.0
184140,2008,1,10,4,2328.0,2130,13.0,2241,OO,3895,...,4.0,12.0,0,NaN,0,0.0,0.0,0.0,0.0,92.0
185418,2008,1,11,5,1322.0,1215,1419.0,1303,OO,1982,...,4.0,40.0,0,NaN,0,76.0,0.0,0.0,0.0,0.0
185788,2008,1,11,5,1808.0,1650,1900.0,1752,OO,3914,...,3.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,68.0
193117,2008,1,16,3,2322.0,1711,29.0,1718,OO,1986,...,7.0,79.0,0,NaN,0,431.0,0.0,0.0,0.0,0.0

In [23]:
# Podemos seleccionar todos los vuelos cuyo origen sea Houston y Atlanta.
df[df.Origin.isin(["HOU", "ATL"])].head(100)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,1910,2025.0,2025,WN,823,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1345,1453.0,1500,WN,901,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,735,839.0,850,WN,957,...,3.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1550,1647.0,1635,WN,231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2105,2151.0,2150,WN,570,...,7.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3364,2008,1,4,5,1942.0,1945,2150.0,2215,WN,389,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3365,2008,1,4,5,1447.0,1425,1708.0,1650,WN,519,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,10.0
3366,2008,1,4,5,2102.0,2015,2314.0,2245,WN,894,...,10.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,29.0
3367,2008,1,4,5,630.0,615,852.0,840,WN,969,...,6.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3368,2008,1,4,5,1834.0,1730,2051.0,2000,WN,2174,...,5.0,8.0,0,NaN,0,5.0,0.0,0.0,0.0,46.0

In [24]:
# Todos aquellos casos en los que no tenemos ningún valor en la columna ArrDelay
df[pd.isna(df["ArrDelay"])].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

In [25]:
# Número de filas en la base de datos que no tienen ningún valor en la columna ArrDelay
len(df[pd.isna(df["ArrDelay"])])

154699

In [26]:
len(df)

7009728

# Transformación

In [27]:
df = pd.read_csv("../../data/Cap 8/base_datos_2008.csv")

In [28]:
# Una transformación es un cambio de la estructura de nuestra BD, empezamos creando una columna nueva.
# Redondeo de una columna existente, retraso / 60.
df["HoursDelay"] = round(df["ArrDelay"] / 60)

In [29]:
# Para visualizar la transformación... 
df["HoursDelay"].head()

0   -0.0
1    0.0
2    0.0
3   -0.0
4    1.0
Name: HoursDelay, dtype: float64

In [30]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-0.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,1.0

In [31]:
# Eliminamos la columna que acabamos de crear
del(df["HoursDelay"])

In [32]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [33]:
# Si queremos eliminar varias columnas a la vez, podemos hacerlo de la siguiente forma, axis = 1 indica el eje vertical(columna)
df.drop(["Diverted", "Cancelled", "Year"], axis = 1)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Year sigue apareciendo, esto ocurre porque no hemos igualado a nuestro df
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [35]:
# Si queremos que se borre y se guarde, hay que asignarlo a nuestro dataframe
df = df.drop(["Diverted", "Cancelled", "Year"], axis = 1)

# también podríamos hacer:
# df.drop(["Diverted", "Cancelled", "Year"], axis = 1, inplace = True)

In [36]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0

In [37]:
# Drop también funciona para eliminar filas de nuestra BD
df.drop(0)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0
5,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,JAX,688,4.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Borrado de las primeras 100.000 filas
df.drop(range(0,100000))

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
100000,1,30,3,1936.0,1935,2258.0,2257,XE,7676,N11176,...,OKC,866,7.0,28.0,NaN,NaN,NaN,NaN,NaN,NaN
100001,1,3,4,607.0,600,858.0,852,XE,7677,N14177,...,SLC,619,7.0,16.0,NaN,NaN,NaN,NaN,NaN,NaN
100002,1,4,5,552.0,600,849.0,852,XE,7677,N33182,...,SLC,619,6.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN
100003,1,5,6,552.0,600,940.0,852,XE,7677,N17169,...,SLC,619,9.0,15.0,NaN,0.0,0.0,48.0,0.0,0.0
100004,1,7,1,637.0,600,935.0,852,XE,7677,N11181,...,SLC,619,4.0,36.0,NaN,37.0,0.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009723,12,13,6,1002.0,959,1204.0,1150,DL,1636,N646DL,...,IAD,533,6.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
7009724,12,13,6,834.0,835,1021.0,1023,DL,1637,N908DL,...,SAT,874,5.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN
7009725,12,13,6,655.0,700,856.0,856,DL,1638,N671DN,...,ATL,545,24.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN
7009726,12,13,6,1251.0,1240,1446.0,1437,DL,1639,N646DL,...,ATL,533,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN
7009727,12,13,6,1110.0,1103,1413.0,1418,DL,1641,N908DL,...,ATL,874,8.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,754.0,735,1002.0,1000,WN,3231,N772SW,...,TPA,810,5.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,3,4,628.0,620,804.0,750,WN,448,N428WN,...,BWI,515,3.0,17.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,3,4,926.0,930,1054.0,1100,WN,1746,N612SW,...,BWI,515,3.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,NaN,2.0,0.0,0.0,0.0,32.0

In [40]:
# Creamos dos dataframes con los vuelos cuyo origen es ATL y otro df con los vuelos cuyo origen es HOU
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

In [41]:
# Si queremos añadir ambos dataframes
newdf = dfATL.append(dfHOU)

In [42]:
newdf.Origin

103149     ATL
103572     ATL
104019     ATL
104124     ATL
104485     ATL
          ...
7003419    HOU
7004690    HOU
7005947    HOU
7007233    HOU
7008545    HOU
Name: Origin, Length: 470446, dtype: object

# Agrupaciones

In [43]:
df = pd.read_csv("../../data/Cap 8/base_datos_2008.csv")

In [44]:
# Group by nos permite hacer operaciones matemáticas sencillas agrupando por categorías.
# En este caso se hace una agrupación por DayOfWeek, y se visualiza el retraso máximo de cada día de la semana.
# Trabajamos con la BD de aerolíneas completa y estudiaremos el retraso de los vuelos al llegar al destino.
# DayOfWeek -> Es una agrupación por el día de la semana, y nos da un valor de los retrasos de los vuelos ArrDelay, 
# proporcionando el valor máximo.
df.groupby(by = "DayOfWeek") ["ArrDelay"].max()

DayOfWeek
1    1583.0
2    1951.0
3    1510.0
4    2453.0
5    1707.0
6    1525.0
7    2461.0
Name: ArrDelay, dtype: float64

In [45]:
# Media de retraso para cada día de la semana.
df.groupby(by = "DayOfWeek") ["ArrDelay"].mean()

DayOfWeek
1     8.210850
2     7.481208
3     6.522017
4     8.411599
5    10.953440
6     5.789666
7     9.495886
Name: ArrDelay, dtype: float64

In [46]:
# Mínimo valor
df.groupby(by = "DayOfWeek") ["ArrDelay"].min()

DayOfWeek
1   -519.0
2    -89.0
3    -87.0
4   -129.0
5    -86.0
6    -91.0
7    -92.0
Name: ArrDelay, dtype: float64

In [47]:
# Número de casos, en fines de semana hay menos vuelos.
df.groupby(by = "DayOfWeek") ["ArrDelay"].count()

DayOfWeek
1    1013410
2    1005992
3    1016995
4    1011970
5    1008872
6     841663
7     956127
Name: ArrDelay, dtype: int64

In [48]:
# Resumen estadístico agrupado por día de la semana
df.groupby(by = "DayOfWeek") ["ArrDelay"].describe()

               count       mean        std    min   25%  50%   75%     max
DayOfWeek
1          1013410.0   8.210850  38.013811 -519.0 -10.0 -2.0  12.0  1583.0
2          1005992.0   7.481208  38.361073  -89.0 -11.0 -3.0  11.0  1951.0
3          1016995.0   6.522017  36.024679  -87.0 -10.0 -3.0  10.0  1510.0
4          1011970.0   8.411599  37.397411 -129.0 -10.0 -1.0  12.0  2453.0
5          1008872.0  10.953440  40.252320  -86.0  -9.0  0.0  15.0  1707.0
6           841663.0   5.789666  37.163120  -91.0 -11.0 -3.0   9.0  1525.0
7           956127.0   9.495886  41.759296  -92.0 -10.0 -2.0  12.0  2461.0

In [49]:
# Podemos ver el resumen comparado de las dos variables ArrDelay DepDelay, en este tipo de comparaciones hay que asegurarse
# que estamos comparando variables del mismo tipo.
df.groupby(by = "DayOfWeek") ["ArrDelay", "DepDelay"].mean()

C:\Users\feeadmin\AppData\Local\Temp/ipykernel_25624/969500678.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by = "DayOfWeek") ["ArrDelay", "DepDelay"].mean()

            ArrDelay   DepDelay
DayOfWeek
1           8.210850  10.269990
2           7.481208   8.976897
3           6.522017   8.289761
4           8.411599   9.772897
5          10.953440  12.158036
6           5.789666   8.645681
7           9.495886  11.568973

In [50]:
# Se pueden realizar operaciones con los objetos Group By, con esta operación podemos analizar el rango de valores
# para cada día de la semana.
df.groupby(by = "DayOfWeek") ["ArrDelay"].max() - df.groupby(by = "DayOfWeek") ["ArrDelay"].min()

DayOfWeek
1    2102.0
2    2040.0
3    1597.0
4    2582.0
5    1793.0
6    1616.0
7    2553.0
Name: ArrDelay, dtype: float64

In [51]:
# Creamos un nuevo Dataframe de los vuelos cuyo origen es Atlanta y Houston
dfATLHOU = df[df.Origin.isin(["ATL", "HOU"])]

In [52]:
# Podemos comparar por ciudades y días de la semana los retrasos en la llegada. Esto permite comparar en cuál de las dos
# ciudades los vuelos salen más retrasados, comparando por día de la semana.
dfATLHOU.groupby(by = ["DayOfWeek", "Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          ATL        9.123436
           HOU        6.356856
2          ATL        8.933587
           HOU        9.348112
3          ATL        8.809146
           HOU        9.073109
4          ATL       10.186501
           HOU       12.994016
5          ATL       14.797440
           HOU       11.036545
6          ATL        9.511662
           HOU        4.283933
7          ATL       13.798627
           HOU        7.045287
Name: ArrDelay, dtype: float64

In [53]:
# Aquí podemos ver cómo afecta el retraso por cada día de la semana en ambos aeropuertos.
dfATLHOU.groupby(by = ["Origin", "DayOfWeek"])["ArrDelay"].mean()

Origin  DayOfWeek
ATL     1             9.123436
        2             8.933587
        3             8.809146
        4            10.186501
        5            14.797440
        6             9.511662
        7            13.798627
HOU     1             6.356856
        2             9.348112
        3             9.073109
        4            12.994016
        5            11.036545
        6             4.283933
        7             7.045287
Name: ArrDelay, dtype: float64

In [54]:
# Los objetos que hemos creado por agrupación, pueden guardarse.
mygroupby = dfATLHOU.groupby(by = ["Origin", "DayOfWeek"])["ArrDelay"]

In [55]:
#mygroupby.max()
#mygroupby.min()
#mygroupby.mean()
mygroupby.describe()

                    count       mean        std   min   25%  50%   75%     max
Origin DayOfWeek
ATL    1          60598.0   9.123436  30.958642 -69.0  -8.0  1.0  14.0   407.0
       2          59732.0   8.933587  34.750658 -89.0  -9.0 -1.0  13.0   848.0
       3          60245.0   8.809146  34.343042 -56.0  -9.0  0.0  13.0   876.0
       4          59721.0  10.186501  35.261512 -51.0  -8.0  1.0  15.0   571.0
       5          60007.0  14.797440  38.859778 -51.0  -7.0  3.0  20.0   699.0
       6          49734.0   9.511662  36.020584 -61.0 -10.0 -1.0  15.0   483.0
       7          57664.0  13.798627  42.466233 -86.0  -8.0  1.0  17.0   612.0
HOU    1           8205.0   6.356856  28.887113 -47.0  -7.0 -2.0   9.0   383.0
       2           8368.0   9.348112  35.321852 -44.0  -7.0 -1.0  12.0   546.0
       3           8330.0   9.073109  33.191673 -39.0  -7.0 -1.0  12.0   639.0
       4           8188.0  12.994016  39.360946 -42.0  -6.0  1.0  17.0  1082.0
       5           8209.0  11.036545  32.415069 -48.0  -6.0  1.0  16.0   560.0
       6           5614.0   4.283933  32.518381 -47.0  -9.0 -3.0   6.0   917.0
       7           7331.0   7.045287  30.820505 -55.0  -7.0 -1.0  11.0   685.0

# Tratar datos duplicados y perdidos

In [56]:
import pandas as pd
df = pd.read_csv("../../data/Cap 8/base_datos_2008.csv")

dfduplicate = df.append(df)

In [57]:
dfduplicate = dfduplicate.sample(frac = 1)

In [58]:
dfclean = dfduplicate.drop_duplicates()

In [59]:
len(dfclean) == len(df)

False

In [60]:
# Tenemos 4 filas menos en relación al dataframe original, pensábamos que el df original no tenía filas repetidas 
# y parece ser que sí.
len(dfclean)

7009724

In [61]:
len(df) - len(dfclean)

4

In [62]:
# Aprovechamos y realizaremos un borrado de las filas duplicadas quedándonos con el subset DayofMonth (31 días)
dfclean.drop_duplicates(subset = "DayofMonth")

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3024472,2008,6,11,3,756.0,800,958.0,1010,WN,976,...,2.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1382689,2008,3,23,7,1516.0,1525,1757.0,1814,OO,3957,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
5614021,2008,10,27,1,1755.0,1751,1951.0,2000,UA,1475,...,9.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6178182,2008,11,15,6,1531.0,1535,1720.0,1718,US,1451,...,4.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1929456,2008,4,16,3,1852.0,1900,2026.0,2049,YV,2609,...,8.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4642091,2008,8,17,7,1003.0,1010,1102.0,1115,MQ,3966,...,9.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3819714,2008,7,25,5,1107.0,1108,1152.0,1150,OO,5767,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4411507,2008,8,5,2,2251.0,2240,2337.0,2331,OO,5511,...,2.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2854657,2008,5,7,3,710.0,715,901.0,920,9E,5615,...,15.0,15.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
606712,2008,2,3,7,1112.0,1115,1206.0,1210,WN,2382,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1421946,2008,3,4,2,1309.0,1314,1545.0,1554,UA,779,...,10.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2357491,2008,4,8,2,621.0,540,858.0,752,CO,527,...,5.0,17.0,0,NaN,0,41.0,0.0,25.0,0.0,0.0
2764240,2008,5,14,3,608.0,615,643.0,652,HA,113,...,6.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3017183,2008,6,9,1,608.0,605,1158.0,1205,WN,363,...,4.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1972784,2008,4,24,4,1459.0,1501,1628.0,1631,OO,3847,...,4.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
505289,2008,1,18,5,NaN,2010,NaN,2310,AA,1332,...,NaN,NaN,1,B,0,NaN,NaN,NaN,NaN,NaN
1675813,2008,3,30,7,1248.0,1250,1505.0,1510,AA,828,...,8.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
111831,2008,1,22,2,941.0,900,1101.0,1010,XE,2061,...,5.0,34.0,0,NaN,0,41.0,0.0,10.0,0.0,0.0
6450552,2008,11,2,7,1429.0,1335,1545.0,1502,DL,1763,...,4.0,25.0,0,NaN,0,0.0,0.0,43.0,0.0,0.0
4903000,2008,9,20,6,1849.0,1825,1933.0,1920,WN,2952,...,4.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6688342,2008,12,26,5,1155.0,1157,1303.0,1314,UA,1439,...,5.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4616935,2008,8,13,3,2009.0,2010,2041.0,2044,HA,197,...,5.0,4.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6726351,2008,12,28,7,1005.0,1006,1344.0,1343,US,590,...,4.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2441651,2008,5,19,1,742.0,740,858.0,845,WN,1583,...,3.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6852489,2008,12,6,6,1317.0,1320,1655.0,1701,NW,182,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2081500,2008,4,1,2,1828.0,1830,1928.0,1940,WN,1687,...,4.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2235714,2008,4,10,4,636.0,640,806.0,749,NW,1712,...,8.0,22.0,0,NaN,0,0.0,0.0,17.0,0.0,0.0
149266,2008,1,29,2,645.0,700,831.0,857,YV,7235,...,10.0,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2383496,2008,4,12,6,1800.0,1745,2107.0,2054,DL,1850,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6777900,2008,12,21,7,2236.0,2230,2331.0,2339,EV,5027,...,3.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2683666,2008,5,31,6,1631.0,1510,2350.0,2244,US,1162,...,5.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,66.0

In [63]:
# Vamos a ver cómo gestionamos los datos faltantes, queremos 25 entradas de las 29 totales con información relevante
df.dropna(thresh = 25)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009715,2008,12,13,6,848.0,850,1024.0,1005,DL,1628,...,4.0,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,NaN,0,0.0,57.0,18.0,0.0,0.0
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79.0
7009719,2008,12,13,6,638.0,640,808.0,753,DL,1632,...,14.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
7009721,2008,12,13,6,612.0,615,923.0,907,DL,1635,...,5.0,23.0,0,NaN,0,0.0,0.0,16.0,0.0,0.0

In [64]:
# Si el df va creciendo aplicamos una función para que nos quedemos con las filas que tienen al menos n-2 datos
df.dropna(thresh=len(df.columns)-2)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,NaN,0,3.0,0.0,0.0,0.0,12.0
18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,NaN,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009715,2008,12,13,6,848.0,850,1024.0,1005,DL,1628,...,4.0,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
7009717,2008,12,13,6,657.0,600,904.0,749,DL,1631,...,15.0,34.0,0,NaN,0,0.0,57.0,18.0,0.0,0.0
7009718,2008,12,13,6,1007.0,847,1149.0,1010,DL,1631,...,8.0,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79.0
7009719,2008,12,13,6,638.0,640,808.0,753,DL,1632,...,14.0,26.0,0,NaN,0,0.0,0.0,15.0,0.0,0.0
7009721,2008,12,13,6,612.0,615,923.0,907,DL,1635,...,5.0,23.0,0,NaN,0,0.0,0.0,16.0,0.0,0.0

In [65]:
# Si nos interesa filtrar por una columna en concreto, podemos usar la misma función con subset a la columna que queremos no 
# tenga datos NaN (vacío)
df.dropna(subset = ["CancellationCode"])

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
178,2008,1,3,4,NaN,700,NaN,830,WN,126,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
373,2008,1,3,4,NaN,1100,NaN,1215,WN,1146,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
399,2008,1,3,4,NaN,905,NaN,1025,WN,469,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
401,2008,1,3,4,NaN,1620,NaN,1740,WN,618,...,NaN,NaN,1,C,0,NaN,NaN,NaN,NaN,NaN
415,2008,1,3,4,NaN,1930,NaN,2035,WN,2528,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009455,2008,12,13,6,NaN,600,NaN,815,DL,1211,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009464,2008,12,13,6,NaN,1930,NaN,2129,DL,1218,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009564,2008,12,13,6,NaN,700,NaN,1035,DL,1421,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009565,2008,12,13,6,NaN,1115,NaN,1432,DL,1422,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
7009648,2008,12,13,6,NaN,1020,NaN,1126,DL,1532,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN

# Librería Numpy

In [ ]:
# Numpy es un paquete orientado al análisis matemático y científico de datos, 
# viene incorporado dentro de Anaconda, no hay que instalarlo.
import numpy as np

In [ ]:
# Creamos un numpy array
valoraciones = np.array([[8,7,8,5], [2,6,8,1], [8,8,9,5]])
valoraciones

Podemos pensar que cada una de las filas corresponden a tres clientes que han valorado cuatro productos, cada una de las 
columnas

In [ ]:
# ¿Cómo podemos acceder a la información? La primera dimensión en el ejemplo [0] son las filas, la segunda las columnas [1]
valoraciones[0][1]

In [ ]:
# Una alternativa es
valoraciones[0,1]

In [ ]:
# Si añadimos nuevas dimensiones...
valoraciones2 = np.array([[[8,7,8,5], [2,5,4,2]], [[2,6,8,4], [8,9,7,4]], [[8,8,9,3], [10,9,10,8]]])

In [ ]:
# En este caso tenemos de igual forma tres clientes que han podido emitir sus valoraciones en años distintos.
valoraciones2

In [ ]:
# Podemos acceder a los elementos de la siguiente forma. ¿A qué elemento nos estamos refiriendo?
valoraciones2[0,0,2]

In [ ]:
# También podemos inicializar un array de las dimensiones del anterior, por ejemplo:
np.zeros((3,2,4))

In [ ]:
# Podemos hacer operaciones entre arrays de mismo tamaño, con np.ones generamos un objeto con las dimensiones llenas de 1's.
valoraciones2 + np.ones((3,2,4))

In [ ]:
valoraciones2

In [ ]:
# A los arrays les podemos aplicar muchas funciones, algunos ejemplos:
# En este caso nos devuelve la media de todos los valores del array original (3,2,4)
np.mean(valoraciones2)

In [ ]:
# Podemos además indicar en qué eje queremos que nos calcule la media, por ejemplo:
np.mean(valoraciones2, axis = 0)

El primer elemento devuelto es la media entre 8, 2, 8; 6.66 es la media entre 2, 8 y 10... y así sucesivamente.

In [ ]:
# Podemos cambiar el eje...
np.mean(valoraciones2, axis = 1)

De esta forma el primer 5 es la media entre 8 y 2; El siguiente 5 entre 2 y 8; y el 9 entre 8 y 10.

In [ ]:
# Si lo hacemos con el último eje, obtenemos:
np.mean(valoraciones2, axis = 2)

El primer 7 es la media entre todos los valores de la primera fila, el 3.25 es la media entre los valores de la segunda, y
así sucesivamente.

In [ ]:
# Alguna función interesante adicional, nos permite convertir la lista inicial a las dimensiones que queramos, 3 agrupaciones
# de filas, dos filas por agrupación y dos columnas. Importante es que las dimensiones que queremos, multiplicadas tienen
# que ser igual al tamaño de los elementos de la lista que queremos particionar.
np.reshape([1,2,3,4,5,6,7,8,9,10,11,12], (3,2,2))

# Correlaciones entre variables

In [66]:
# Correlaciones entre dos variables.
# Una correlación es una relación lineal entre dos variables cuantitativas se representa como el cociente entre la covarianza
# de dos variables y el producto entre sus desviaciones estándar. Puede tomar valores entre -1 y 1, 
# cuanto más cerca de estos extremos se encuentre la relación estamos hablando de correlaciones fuertes,
# también tenemos dependiendo de esa distancia moderadas, débil y muy débil.
import pandas as pd
import numpy as np

df = pd.read_csv("../../data/Cap 8/base_datos_2008.csv", nrows = 1000000)

Valor de r	Fuerza de relación
-1,0 A -0,5 o 1,0 a 0,5	Fuerte
-0,5 A -0,3 o 0,3 a 0,5	Moderada
-0,3 A -0,1 o 0,1 a 0,3	Débil
-0,1 A 0,1	Ninguna o muy débil

Para más información, podéis consultar la página:
https://www.cienciadedatos.net/documentos/24_correlacion_y_regresion_lineal

In [67]:
np.corrcoef(df["ArrDelay"], df["DepDelay"])

array([[nan, nan],
       [nan, nan]])

In [68]:
# No existe correlación porque existen valores perdidos, vamos a quitarlos utilizando Pandas, el coeficiente de correlación
# no admite valores faltantes. Tenemos que imputarlos o quitarlos, en este caso los quitamos.
df.dropna(inplace = True, subset = ["ArrDelay", "DepDelay"])

In [69]:
# Ahora vemos una matriz de correlación entre ambas variables. Estas dos variables están muy relacionadas (0.9349), 
# retraso del avión al salir y al llegar. 
np.corrcoef(df["ArrDelay"], df["DepDelay"])

array([[1.        , 0.93490112],
       [0.93490112, 1.        ]])

In [70]:
# Añadimos una columna más y vemos que para este caso la correlación entre las dos primeras variables y la tercera es baja.
np.corrcoef([df["ArrDelay"], df["DepDelay"], df["DepTime"]])

array([[1.        , 0.93490112, 0.17978801],
       [0.93490112, 1.        , 0.21229661],
       [0.17978801, 0.21229661, 1.        ]])

In [71]:
df.drop(inplace = True, columns = ["Year", "Cancelled", "Diverted"])

In [72]:
# Hemos suprimido todas las columnas que no tienen valores numéricos. Ahora vemos la matriz de correlación.
df.corr()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,CRSElapsedTime,...,ArrDelay,DepDelay,Distance,TaxiIn,TaxiOut,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Month,1.000000,-0.015050,0.030930,0.005771,0.001497,-0.007122,-0.009800,0.079810,-0.074488,-0.076087,...,0.031751,0.032285,-0.070562,-0.039301,-0.028302,-0.007918,0.023720,-0.018685,-0.000285,0.035021
DayofMonth,-0.015050,1.000000,-0.051893,-0.004149,-0.002338,0.001970,-0.000563,-0.005089,0.009748,0.005772,...,-0.016971,-0.025893,0.004336,-0.013975,0.020010,-0.026833,0.002860,0.046824,-0.018356,-0.010162
DayOfWeek,0.030930,-0.051893,1.000000,0.006505,0.010266,0.005845,0.007485,-0.003372,0.005525,0.012497,...,-0.020013,-0.009137,0.013937,0.007376,-0.023813,0.011215,-0.004178,-0.051235,0.008752,-0.002767
DepTime,0.005771,-0.004149,0.006505,1.000000,0.967093,0.718832,0.801405,-0.001497,-0.033971,-0.025449,...,0.179788,0.212297,-0.021899,-0.028305,-0.007641,0.013935,0.004591,-0.031814,-0.008924,0.219831
CRSDepTime,0.001497,-0.002338,0.010266,0.967093,1.000000,0.701446,0.800630,-0.013377,-0.031518,-0.020645,...,0.102853,0.132519,-0.014220,-0.032370,-0.018797,-0.046834,-0.022649,-0.074218,-0.009042,0.187314
ArrTime,-0.007122,0.001970,0.005845,0.718832,0.701446,1.000000,0.857240,-0.011925,0.027351,0.031429,...,0.073489,0.087577,0.026093,0.009363,0.010162,-0.044245,-0.018817,0.016260,-0.004983,0.014447
CRSArrTime,-0.009800,-0.000563,0.007485,0.801405,0.800630,0.857240,1.000000,-0.025392,0.036679,0.047353,...,0.098478,0.126896,0.044240,-0.002497,0.000617,-0.047146,-0.018615,-0.048304,-0.008037,0.161782
FlightNum,0.079810,-0.005089,-0.003372,-0.001497,-0.013377,-0.011925,-0.025392,1.000000,-0.289356,-0.302250,...,0.068460,0.053206,-0.333416,0.023670,0.073521,0.094233,0.066190,0.010670,-0.006524,-0.021083
ActualElapsedTime,-0.074488,0.009748,0.005525,-0.033971,-0.031518,0.027351,0.036679,-0.289356,1.000000,0.977603,...,0.062966,0.020822,0.956349,0.158391,0.256360,-0.044983,-0.010370,0.188094,-0.001425,-0.091541
CRSElapsedTime,-0.076087,0.005772,0.012497,-0.025449,-0.020645,0.031429,0.047353,-0.302250,0.977603,1.000000,...,-0.022951,0.009131,0.978077,0.099275,0.123392,-0.010326,-0.024111,0.046358,0.001212,-0.046930
AirTime,-0.069707,0.007797,0.009195,-0.031907,-0.027183,0.026009,0.038180,-0.314668,0.983909,0.987368,...,0.004612,0.004522,0.975308,0.082392,0.094641,-0.028101,-0.027663,0.075806,0.001673,-0.064661
ArrDelay,0.031751,-0.016971,-0.020013,0.179788,0.102853,0.073489,0.098478,0.068460,0.062966,-0.022951,...,1.000000,0.934901,-0.026296,0.118424,0.309567,0.476940,0.279551,0.357162,-0.006260,0.507945
DepDelay,0.032285,-0.025893,-0.009137,0.212297,0.132519,0.087577,0.126896,0.053206,0.020822,0.009131,...,0.934901,1.000000,0.004399,0.020033,0.092959,0.506839,0.255680,0.167083,-0.002860,0.551564
Distance,-0.070562,0.004336,0.013937,-0.021899,-0.014220,0.026093,0.044240,-0.333416,0.956349,0.978077,...,-0.026296,0.004399,1.000000,0.070510,0.076459,-0.009092,-0.028149,0.018185,0.002166,-0.035306
TaxiIn,-0.039301,-0.013975,0.007376,-0.028305,-0.032370,0.009363,-0.002497,0.023670,0.158391,0.099275,...,0.118424,0.020033,0.070510,1.000000,0.048334,-0.042360,0.006748,0.199826,-0.007527,-0.046949
TaxiOut,-0.028302,0.020010,-0.023813,-0.007641,-0.018797,0.010162,0.000617,0.073521,0.256360,0.123392,...,0.309567,0.092959,0.076459,0.048334,1.000000,-0.060460,0.064435,0.410929,-0.009747,-0.108578
CarrierDelay,-0.007918,-0.026833,0.011215,0.013935,-0.046834,-0.044245,-0.047146,0.094233,-0.044983,-0.010326,...,0.476940,0.506839,-0.009092,-0.042360,-0.060460,1.000000,-0.059067,-0.139575,-0.019080,-0.155135
WeatherDelay,0.023720,0.002860,-0.004178,0.004591,-0.022649,-0.018817,-0.018615,0.066190,-0.010370,-0.024111,...,0.279551,0.255680,-0.028149,0.006748,0.064435,-0.059067,1.000000,-0.018083,-0.007717,-0.049814
NASDelay,-0.018685,0.046824,-0.051235,-0.031814,-0.074218,0.016260,-0.048304,0.010670,0.188094,0.046358,...,0.357162,0.167083,0.018185,0.199826,0.410929,-0.139575,-0.018083,1.000000,-0.017256,-0.150310
SecurityDelay,-0.000285,-0.018356,0.008752,-0.008924,-0.009042,-0.004983,-0.008037,-0.006524,-0.001425,0.001212,...,-0.006260,-0.002860,0.002166,-0.007527,-0.009747,-0.019080,-0.007717,-0.017256,1.000000,-0.016765
LateAircraftDelay,0.035021,-0.010162,-0.002767,0.219831,0.187314,0.014447,0.161782,-0.021083,-0.091541,-0.046930,...,0.507945,0.551564,-0.035306,-0.046949,-0.108578,-0.155135,-0.049814,-0.150310,-0.016765,1.000000

In [73]:
# Podemos estudiar una a una las correlaciones entre filas y columnas. 
# Para visualizar gráficamente la matriz, redondeando a tres decimales (round) y aplicamos estilo bakcground que mostrará
# un degradado según la intensidad de la correlación.
# Esto nos permite hacer una inspección de nuestra BD, analizando correlaciones que en principio no habíamos considerado.

# df.drop(inplace = True, columns = ["Month"])
corr = round (df.corr(), 3)
corr.style.background_gradient()

# Todo esto nos permite hacer un análisis inicial de corelaciones entre variables de nuestra base de datos.