# Actividad 1 - Medición Calidad Aire Comunidad de Madrid

## Enunciado

En la siguiente url, https://datos.comunidad.madrid/catalogo/dataset/calidad_aire_datos_mesEnlaces a un sitio externo. disponemos de los datos de la calidad del aire en la Comunidad de Madrid, la información está recogida de forma mensual. Elaborar un estudio que permita determinar los puntos donde se produce un mayor impacto medioambiental. Construid en MySQL una base de datos con la información recogida.

In [1]:
import pandas as pd
import csv
import math
#importamos la librerias que vamos a usar

#coger el csv
df = pd.read_csv("../data_IA/contaminacion_madrid.csv", nrows = 5000, sep = ';')

#Eliminar las columnas con datos no utiles
dfinal = pd.DataFrame(df, columns = ['punto_muestreo', 'ano', 'mes',
                                     'dia', 'h01', 'h02', 'h05', 'h06',
                                     'h07', 'h08', 'h09', 'h10', 'h11',
                                     'h12', 'h13', 'h14', 'h15', 'h16',
                                     'h17', 'h18', 'h19', 'h20', 'h21',
                                     'h22', 'h23', 'h24'])

dfinal.mean().round(1)

punto_muestreo       inf
ano               2022.0
mes                  9.0
dia                 13.5
h01                 16.2
h02                 15.5
h05                 15.6
h06                 17.5
h07                 20.3
h08                 19.7
h09                 18.6
h10                 18.6
h11                 18.7
h12                 19.0
h13                 19.2
h14                 19.3
h15                 19.3
h16                 19.2
h17                 19.2
h18                 19.3
h19                 19.9
h20                 20.6
h21                 20.2
h22                 19.0
h23                 17.9
h24                 16.8
dtype: float64

In [ ]:
##Si meto la media no me sale luego el punto de muestreo con el max
dfinal.loc['media'] = dfinal.mean()

dfinal.tail()

## Mayores focos de contaminacion segun horas 
## Mañana: 7.00 am (h07) Tarde: 8.00 pm (h20)

In [ ]:
## Comprobando que no haya dos puntos de muestreo iguales
dfinal.duplicated(subset=['punto_muestreo'])

In [ ]:
## Buscamos el punto muestreo (x hora) que mas contaminacion capta
import pandas as pd

dfmax0 = pd.DataFrame(dfinal)

dfmax0[['punto_muestreo', 'h07']].max()

### punto_muestreo    28180001_9_49
### h07                       248.0

In [ ]:
dfmax1 = pd.DataFrame(dfinal)

dfmax1[['punto_muestreo', 'h20']].max()

### punto_muestreo    28180001_9_49
### h20                       176.0

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig, ax = plt.subplots(figsize=(70, 20))
sns.lineplot(data=dfinal, x='punto_muestreo', y='h07', ax=ax)

In [ ]:
fig, ax = plt.subplots(figsize=(70, 20))
sns.lineplot(data=dfinal, x='punto_muestreo', y='h20', ax=ax)

# Parte de MySQL

In [8]:
import mysql.connector as msql
import pymysql
from mysql.connector import Error
try:
    conn = msql.connect(host="127.0.0.1", user='root',  password='frogs')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE Madriddb;")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [14]:
import mysql.connector as mysql
import pymysql
from mysql.connector import Error
try:
    con = mysql.connect(host="127.0.0.1", database="Madriddb", user="root", password="frogs")
    if con.is_connected():
        cursor = conn.cursor()
        cursor.execute("USE Madriddb;")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS dfinal_data;')
        print('Creating table....')
        # in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE estudio_data (punto_muestreo VARCHAR(255), ano INT, mes INT, dia INT, h07 FLOAT(5,2), h20 FLOAT(5,2));")
        print("Table is created....")
except Error as e:
    print("Error while connecting to MySQL", e)

You're connected to database:  None
Creating table....
Table is created....

In [16]:
# import the module
import pymysql
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"  
                      .format(user="root", pw="Real Madrid1", 
                      db="Madriddb"))
# Insert whole DataFrame into MySQL
dfinal1 = pd.DataFrame(dfinal, columns = ['punto_muestreo', 'ano', 'mes',
                                         'dia','h07', 'h20'])
dfinal1.to_sql('estudio_data', con = engine, if_exists = 'append', chunksize = 1000,index=False)

4186